.accordion{
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.accordion .accordionItem{
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
}

.accordion .accordionItem .accordionItemHeader{
    display: flex;
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    padding: 1rem;
    width: 100%;
    align-items: center;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,1);
}
.accordion .accordionItem .accordionItemHeader .accordionItemHeaderTitle{
    display: flex;
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    width: 100%;
}

.accordion .accordionItem .accordionItemHeader .expbtn{
    float: end;
}

.accordion .accordionItem .accordionItemContent{
    margin: 1rem 1rem;
    padding: 1rem 2rem;
}