.container{
    display: flex;
    flex-direction: column;
    padding: 96px 0;
    width: 100%;
    margin-top: 3.5em;
}

.title{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.0125em;
    color: #0F172A;
}

.details{
    display: flex;
    align-items: center;
    margin-top: 3em;
}

.personImg{
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1em;
}

.details h4{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.018em;
    color: #0F172A;
}

.details span{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #475569;
}

.general{
    width: 100%;
    margin-top: 3.5em;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border: 2px solid lightgrey;
    padding: 48px 80px;
}

.downArrow{
    width: 20px;
    height: 20px;
    margin-right: 1em;
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5em;
}

.header div:first-child{
    display: flex;
    align-items: center;
}

.header div:first-child h4{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.018em;
    color: #0F172A;
}

.info{
    width: 93%;
    margin: 0 auto;
}

.info span{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.module{
    width: 100%;
    padding: 48px 80px;
    border: 2px solid lightgrey;
}

.module:last-child{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.moduleHeader{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.018em;
    color: #0F172A;
}

.edit{
    width: 25px;
    height: 25px;
    margin-left: 1em;
}

.plus{
    width: 20px;
    height: 20px;
    margin-right: .5em;
}

.btn button{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border: 1px solid #475569;
    padding: 8px 24px;
    border-radius: 8px;
    margin-left: 3.2em;
    margin-top: 2.5em;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475569;
}

.video{
    text-align: center;
    position: relative;
    margin: 2em 0;
}

.videoImg{
    width: 60%;
    object-fit: cover;
    border-radius: 16px;
}

.playImg{
    position: absolute;
    left: 48%;
    top: 40%;
}

.pdfImg{
    width: 2em;
    height: 2em;
}

.resources{
    padding-left: 3em;
}

.resources h5{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #475569;
}

.resource{
    display: flex;
    align-items: center;
    margin: .5em 0;
}

.resource span{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0F172A;
    margin-left: .5em;
}

@media  screen and (max-width: 750px){
    .videoImg{
        width: 100%;
    }
}

@media  screen and (max-width: 480px){
    .container{
        width: 100%;
        margin-top: 5em;
    }

    .btn{
        display: flex;
        justify-content: center;
    }

    .btn button{
        margin-left: unset;
    }

    .video{
        width: 100%;
    }

    .videoImg{
        width: 100%;
    }

    .module{
        padding: 1em 0.5em;
    }
}
